.title {
    text-align: center;
    margin-bottom: 20px;
}

.boxButton {
    text-align: end;
    margin-bottom: 20px;
}

.list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
